

 .logo{
  height: 20vh;
    width: 20vw;
 }
 .logo {
  --s: 40vh;   /* the size of the image */
  --b: 1vh;     /* the border thickness*/
  --g: 5vh;    /* the gap */
  --c: #1FBA74; /* the color */
  
  width: var(--s);
  aspect-ratio: 1;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: .3s;
}
.logo:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}


 .slogan{
  margin: 10vh;
  color:#f2f2f2;

 }

.bGuest{
  z-index: 5;
}

 .frame {
  max-height: 550px;
  background: rgba(0,0,0,.5);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px rgba(255, 255, 255, .5);
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all .5s ease
}


.navL {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  transition: all .5s ease
}

.nav-up {
  transform: translateY(-100px);
  opacity: 0
}



.signin-active a {
  padding-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #ba1f65;
  transition: all .25s ease;
  cursor: pointer
}



.eyeL{
  z-index: 5;
}

.signin-inactive a {
  padding-bottom: 0;
  color: rgba(255, 255, 255, .3);
  text-decoration: none;
  border-bottom: none;
  cursor: pointer
}

.signup-active a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 1px #ba1f65;
  padding-bottom: 10px
}

.signup-inactive a {
  cursor: pointer;
  color: rgba(255, 255, 255, .3);
  text-decoration: none;
  transition: all .25s ease;
}

.form-signin {
  height: 50vh;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  transition: opacity .5s ease, transform .5s ease
}

.form-signin-left {
  transform: translateX(-450px);
  opacity: .0
}

.form-signup {
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  position: relative;
  top: -50vh;
  left: 400px;
  opacity: 0;
  transition: all .5s ease
}

.form-signup-left {
  transform: translateX(-449px);
  opacity: 1
  
}

.form-signup-down {
  top: 0px;
  opacity: 0
}





.form-signin input,
.form-signup input {
  color: #ffffff;
  font-size: 13px
}


:focus {
  outline: none
}

.form-signin input:focus,
textarea:focus,
.form-signup input:focus,
textarea:focus {
  background: rgba(255, 255, 255, .3);
  border: none;
  padding-right: 40px;
  transition: background .5s ease
}

