.header {
    background-color: #364355;
    display: inline-flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}
.navLink{
    margin: 1rem 2rem;
    color: #d9d9d9;
    padding: 2px;
    text-decoration: none;
    cursor: pointer;
}
.navContainer{
    margin-right: -4rem;
    margin-left: 4rem;
}
.imgNav{
    width: 75px;
    margin-right: -5rem;
    margin-left: 1rem;
}