.nav-bar{
    background: #364355;
}
.nav-link{
    color:white;
}
.nav-link:hover{
    color: #2cffa0;
}
.cart:hover{
    color: #2cffa0; 
}
.color {
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}
.time{
    display: fixed;
}
.item-count {
    display: inline-flex;
    position: absolute;
    font-weight: 600;
    font-size: 11px;
    justify-content: center;
    top: 2rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: red;
}
.margCart {
    padding-left: 1rem;
}