.nav-bar{
    background: #364355;
}
.nav-link{
    color:white;
}
.nav-link:hover{
    color: #2cffa0;
}
.color {
    color: #fff;
    margin-top: 2px;
}
.item_count {
    display: inline-flex;
    position: absolute;
    font-weight: 600;
    font-size: 13px;
    justify-content: center;
    top: 2rem;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: red;
}
.margCart {
    padding-left: 2rem;
}