.custom-alert-container {
  border: 2px solid white;
}

.login-box {
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
 
.login-box h2 {
    margin: 0 0 0px;
    height: 40px;
    padding: 0;
    color: #fff;
    text-align: center;
  }


  
  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #178654;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 2px;
    background: transparent;
  }
  
  .login-box button:disabled:hover {
    background: transparent;
    color: #178654;
    border-radius: 5px;
    box-shadow: 0 0 0px #178654,
                0 0 0px #178654,
                0 0 0px #178654,
                0 0 0px #178654;
  }

  .login-box button:hover {
    background: #178654;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 5px #178654,
                0 0 5px #178654,
                0 0 5px #178654,
                0 0 10px #178654;
  }
  
  .login-box button span {
    position: absolute;
    display: block;
    
  }
  
  .login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #178654);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #178654);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #178654);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #178654);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  

.select-box{
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    color: #fff;
    background: transparent;
}
.select-user{
    top: -20px;
    left: 0;
    color: #178654;
    font-size: 12px;
    
}

.select-div{
    display: flex;
    justify-content: space-between;
    
}
.removes{
    margin-top: 20px;
}
.remove-div{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.remove-span{
  color: rgb(255, 68, 183);
}
 
.login-box form .remove-button {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 2px 2px;
    color: #f40303;
    font-size: 10px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 0px;
    
    background: transparent;
  }
  
  .login-box .remove-button:hover {
    background: #f40303;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 5px #f40303,
                0 0 5px #f40303,
                0 0 5px #f40303,
                0 0 10px #f40303;
  }
.select-div select{
    
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
    width: 80%;
    
    background: transparent;
    flex: 1;
  padding: 0 1em;
  color: #fff;
  background-image: none;
  cursor: pointer;
}

option {
    color: inherit;
    background-color: rgb(22, 21, 21);
  }

.term-box{
    position: relative;
    width: 30%;
    padding: 10px 0;
    margin-bottom: 30px;
    color: #fff;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
  }
  
  .custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 4px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
  .custom-checkbox:checked ~ .checkmark {
    background-color: #178654;
    box-shadow: 0 3px 7px rgba(0, 255, 238, 0.3);
  }
  
  .custom-checkbox:checked ~ .checkmark:after {
    display: block;
  }
  
  @keyframes checkAnim {
    0% {
      height: 0;
    }
  
    100% {
      height: 10px;
    }
  }
  
  .custom-checkbox:checked ~ .checkmark:after {
    animation: checkAnim 0.2s forwards;
  }

.error-message{
  color:red;
}