.searchTitle{
    color: white;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    
}
.buttonView {
    background: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    margin: 40px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  
  .buttonView span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  .buttonView::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .buttonView:hover {
    color: #fff;
  }
  
  .buttonView:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }


.tools {
  overflow: auto;
}
.settings {
  float: right;
  text-align: right;
}
#view {
  display: none;
  width: auto;
  height: 47px;
}
@media screen and (max-width:400px) {
  .search-area {
    width: 100%;
  }
}

.products {
  width: 100%;
}
.product {
    
  display: inline-block;
  width: calc(24% - 13px);
  margin: 10px 10px 30px 10px;
  padding: 10px;
  vertical-align: top;
  position: relative;
  border-radius: 12px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5), -4px -4px 16px rgba(255, 255, 255, 0.05);
}
.product img {
  display: block;
  margin: 0 auto;
  width: auto;
  
  height: 200px;
  max-width: 280px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.8);
  border-radius: 2px;
  
}
.product-img{
    height: 200px;
    
}

.product-content {
  text-align: center;
}
.product a{
    text-decoration: none;
}
.product h3 {
  font-size: 20px;

  font-weight: 600;
  margin: 10px 0 0 0;
}
.product small {
  display: block;
  color: #777;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin: 7px 0 0 0;
}
.product .product-text {
  margin: 7px 0 0 0;
  color: #777;
}
.product .price {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
.product .genre {
  font-size: 14px;
}

@media screen and (max-width:1350px) {
    .product {
      width: calc(33% - 23px);
    }
  }

@media screen and (max-width:1150px) {
  .product {
    width: calc(50% - 23px);
  }
}
@media screen and (max-width:700px) {
  .product {
    width: 100%;
  }
}
@media screen and (max-width:400px) {
  .product {
    width: 100%;
  }
}

/* TABLE VIEW */
@media screen and (min-width:401px) {
  .settings {
    display: block;
  }
  #view {
    display: inline;
  }
  .products-table .product {
    display: block;
    width: auto;
    margin: 10px 10px 30px 10px;
  }
  .products-table .product .product-img {
    display: inline-block;
    margin: 0;
    width: 200px;
    height: 120px;
    vertical-align: middle;
  }
  .products-table .product img {
    width: auto;
    height: 120px;
    max-width: 200px;
  }
  .products-table .product-content {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    width: calc(100% - 220px);
  }
  .products-table .product h3 {
    margin: 0;
  }
}