.searchTitle{
    color: white;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    
}
.buttonView {
    background: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    margin: 40px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  
  .buttonView span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  .buttonView::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .buttonView:hover {
    color: #fff;
  }
  
  .buttonView:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }


.tools {
  overflow: auto;
}
.settings {
  float: right;
  text-align: right;
}
#view {
  display: none;
  width: auto;
  height: 47px;
}
@media screen and (max-width:400px) {
  .search-area {
    width: 100%;
  }
}

.productSs {
  width: 100%;
}
.productS {
  background: #0f1219f9;
  display: inline-block;
  width: calc(24% - 13px);
  margin: 10px 10px 30px 10px;
  padding: 10px;
  vertical-align: top;
  position: relative;
  border-radius: 12px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5), -4px -4px 16px rgba(255, 255, 255, 0.05);
}
.productS img {
  display: block;
  margin: 0 auto;
  width: auto;
  
  height: 200px;
  max-width: 280px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.8);
  border-radius: 2px;
  
}
.productS-img{
    height: 200px;
    
}

.productS-content {
  text-align: center;
}
.productS a{
    text-decoration: none;
}
.productS h3 {
  font-size: 20px;

  font-weight: 600;
  margin: 10px 0 0 0;
}
.productS small {
  display: block;
  color: #777;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin: 7px 0 0 0;
}
.productS .productS-text {
  margin: 7px 0 0 0;
  color: #777;
}
.productS .price {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
.productS .genre {
  font-size: 14px;
}

@media screen and (max-width:1350px) {
    .productS {
      width: calc(33% - 23px);
    }
  }

@media screen and (max-width:1150px) {
  .productS {
    width: calc(50% - 23px);
  }
}
@media screen and (max-width:700px) {
  .productS {
    width: 100%;
  }
}
@media screen and (max-width:400px) {
  .productS {
    width: 100%;
  }
}



/* TABLE VIEW */
@media screen and (min-width:401px) {
  .settings {
    display: block;
  }
  #view {
    display: inline;
  }
  .productSs-table .productS {
    display: block;
    width: auto;
    margin: 10px 10px 30px 10px;
  }
  .productSs-table .productS .productS-img {
    display: inline-block;
    margin: 0;
    width: 200px;
    height: 120px;
    vertical-align: middle;
  }
  .productSs-table .productS img {
    width: auto;
    height: 120px;
    max-width: 200px;
  }
  .productSs-table .productS-content {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    width: calc(100% - 220px);
  }
  .productSs-table .productS h3 {
    margin: 0;
  }
}
.dont{
  width: 100%;
  height: 30vh;
}
.letras{
  color: #1fad6d;
  font-size: 26px;
  font-family: monospace;
}
.imgDont{
  width:150px;
  height:100px;
}


.game--isloading {
  height: 252px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 15px;
  
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.8);
}

.game--isloading .loading-image {
  height: 190px;
  background-image: -webkit-linear-gradient(left, #178654 0px, #ba1f65 40px, #178654 80px);
  background-image: -o-linear-gradient(left, #178654 0px, #ba1f65 40px, #178654 80px);
  background-image: linear-gradient(90deg, #178654 0px, #ba1f65 40px, #178654 80px);
  background-size: 250px;
  -webkit-animation: shine-loading-image 2s infinite ease-out;
          animation: shine-loading-image 2s infinite ease-out;
}

.game--isloading .loading-content {
  
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.5), -4px -4px 16px rgba(255, 255, 255, 0.05);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game--isloading .loading-content .loading-text-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.game--isloading .loading-content .loading-main-text {
  height: 10px;
  width: 65%;
  margin-bottom: 10px;
  background: #178654;
  background-image: -webkit-linear-gradient(left, #178654 0px, #ba1f65 40px, #178654 80px);
  background-image: -o-linear-gradient(left, #178654 0px, #ba1f65 40px, #178654 80px);
  background-image: linear-gradient(90deg, #178654 0px, #ba1f65 40px, #178654 80px);
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
          animation: shine-loading-container-items 2s infinite ease-out;
}

.game--isloading .loading-content .loading-sub-text {
  height: 10px;
  width: 50%;
  background: #178654;
  background-image: -webkit-linear-gradient(left, #178654 0px, #ba1f65 40px, #178654 80px);
  background-image: -o-linear-gradient(left, #178654 0px, #ba1f65 40px, #178654 80px);
  background-image: linear-gradient(90deg, #178654 0px, #ba1f65 40px, #178654 80px);
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
          animation: shine-loading-container-items 2s infinite ease-out;
}

.game--isloading .loading-content .loading-btn {
  width: 60px;
  height: 25px;
  background: #178654;
  background-image: -webkit-linear-gradient(left, #178654 0px, #ba1f65 40px, #178654 80px);
  background-image: -o-linear-gradient(left, #178654 0px, #ba1f65 40px, #178654 80px);
  background-image: linear-gradient(90deg, #178654 0px, #ba1f65 40px, #178654 80px);
  background-size: 250px;
  border-radius: 3px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
          animation: shine-loading-container-items 2s infinite ease-out;
}


@-webkit-keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}


@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}

@-webkit-keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}

@keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}