.slider1{
  background-image: url(../../Img//Home/welcome.jpeg);
  
}

.slider2{
  background-image: url(../../Img/Home/welcome2.jpeg);
}

.slider3{
  background-image: url(../../Img/Home/welcome3.jpeg)}

  .slider2 .tc2{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5%;
    
  }

  .slick-dots li.slick-active button:before {
    color:#25ff9d !important;
}

.slick-dots li button:before {
  opacity: 0.70 !important;
  color: white !important;
  font-size: 14px !important;
}