.clock-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px; /* Ajusta la posición vertical */
    left: 75%;
    transform: translateX(-50%);
}

.time {
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 10px rgba(10, 175, 230, 1),  0 0 10px rgba(10, 175, 230, 0);
    letter-spacing: 0.05em;
    font-size: 12px; /* Ajusta el tamaño de la fuente */
    margin: 0;
    padding: 5px 10px;
}