.title {
    display: flex;
    justify-content: space-between;
}
.disabledGame {
    padding-top: 20px;
    padding-right: 50px;
}

.fontUpdate {
    color: #fff;
    margin: 10px;
}
.checkBoxs {
    margin: 10px;
    padding: 5px;
}
.imageTam {
    padding: 5%;
}
.imageTam img{
    
    box-shadow: #fff 5px 5px 5px;
}
.cajaEdit {
    margin: 10px 0px;
    padding: 10px 0px;
}
.platGenre {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.dimension {
    width: 50%;
}
.deletedElement {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.colorSelect {
    color: #fff;
}