.fontUpdate {
    color: #fff;
    margin: 10px;
}
.checkBoxs {
    margin: 10px;
    padding: 5px;
}
.imageTam {
    padding: 5%;
}
.imageTam img{
    
    box-shadow: #fff 5px 5px 5px;
}
.cajaEdit {
    margin: 10px 0px;
    padding: 10px 0px;
}
