.tabsU .nav-link.active {
    color: #ffffff; 
    background-color: rgba(0, 255, 110, 0.55) ;
  }
  
  .tabsU .nav-link:hover {
    border-color: #2cffa0;
  }

  .tabsU{
    z-index: 1;
  }

  .tabsU .nav-tabs{
    z-index: 1;
    background: #0f1219f9;
  }